* {
    box-sizing: border-box;
  }
  
  body {
    padding-bottom: 700px;
    background: rgb(247,199,244);
  }

  input {
   flex: 1;
   background: transparents;
   border: 0;
   font-size: 20px;
   color: rgb(96, 228, 184);
  }
  
  .search-box {
   width: 550px;
   background: #fff;
   margin: 150px auto 0;
   border-radius: 5px;
   border: .5px solid black;
  }
  
  .row {
   display: flex;
   align-items: center;
   padding: 10px 20px;
  }

  button {
    background: transparent;
    border: 0;
    outline: 0;
  }

  button .fa-solid {
    width: 25px;
    color: #555;
    font-size: 20px;
    cursor: pointer;
  }

  ::placeholder {
    color: rgb(135, 227, 197);
    font-size: 20px;
  }

  .result-box {
    max-height: 350px;
    overflow-y: scroll;
  }

  .result-box ul {
    border-top: 1px solid #999;
    padding: 15px 10px;
  }
  
  .result-box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 15px 10px;
    cursor: pointer;
  }

  .result-box ul li:hover {
    background: rgb(223, 253, 243)
  }

